Q1. Write a code to reverse a string?

In [1]:
def reverse_string(s):
    return s[::-1]

# Example usage:
input_str = "hello"
reversed_str = reverse_string(input_str)
print(reversed_str)

olleh

Q2. Write a code to count the number of vowels in a string?

In [2]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

# Example usage:
input_str = "Hello, World!"
print(count_vowels(input_str))

3

Q3. Write a code to check if a given string is a palindrome or not?

In [3]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for case-insensitive check
    s = s.replace(" ", "").lower()
    return s == s[::-1]

# Example usage:
input_str = "Racecar"
print(is_palindrome(input_str))

True

Q4. Write a code to check if two given strings are anagrams of each other?

In [4]:
def are_anagrams(s1, s2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    s1 = s1.replace(" ", "").lower()
    s2 = s2.replace(" ", "").lower()
    return sorted(s1) == sorted(s2)

# Example usage:
str1 = "Listen"
str2 = "Silent"
print(are_anagrams(str1, str2))

True

Q5. Write a code to find all occurrences of a given substring within another string?

In [5]:
def find_all_occurrences(text, substring):
    indices = []
    start = 0
    while True:
        pos = text.find(substring, start)
        if pos == -1:
            break
        indices.append(pos)
        start = pos + 1  # Move start to next position after the current match
    return indices

# Example usage:
text = "abracadabra"
substring = "abra"
print(find_all_occurrences(text, substring))

[0, 7]

Q6. Write a code to perform basic string compression using the counts of repeated characters?

In [6]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))

    compressed_str = "".join(compressed)
    return compressed_str if len(compressed_str) < len(s) else s

# Example usage:
input_str = "aabcccccaaa"
print(compress_string(input_str))

a2b1c5a3

Q7. Write a code to determine if a string has all unique characters?

In [7]:
def has_unique_chars(s):
    return len(set(s)) == len(s)

# Example usage:
input_str = "hello"
print(has_unique_chars(input_str))

input_str2 = "world"
print(has_unique_chars(input_str2))

False
True

Q8. Write a code to convert a given string to uppercase or lowercase?

In [9]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

# Example usage:
input_str = "Hello World!"

print(convert_case(input_str, to_upper=True))
print(convert_case(input_str, to_upper=False))

HELLO WORLD!
hello world!

Q9. Write a code to count the number of words in a string?

In [11]:
def count_words(s):
    # Split the string by whitespace and count the resulting parts
    words = s.split()
    return len(words)

# Example usage:
input_str = "Hello, how are you doing today?"
print(count_words(input_str))

6

Q10. Write a code to concatenate two strings without using the + operator?

In [12]:
def concatenate_strings(s1, s2):
    return "".join([s1, s2])

# Example usage:
str1 = "Hello, "
str2 = "World!"
print(concatenate_strings(str1, str2))

Hello, World!

Q11. Write a code to remove all occurrences of a specific element from a list?

In [13]:
def remove_all_occurrences(lst, element):
    return [x for x in lst if x != element]

# Example usage:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
print(remove_all_occurrences(my_list, element_to_remove))

[1, 3, 4, 5]

Q12. Implement a code to find the second largest number in a given list of integers?

In [14]:
def second_largest(nums):
    unique_nums = list(set(nums))  # Remove duplicates
    if len(unique_nums) < 2:
        return None  # No second largest if less than 2 unique numbers
    unique_nums.sort()
    return unique_nums[-2]

# Example usage:
numbers = [10, 5, 8, 12, 12, 7]
print(second_largest(numbers))

10

Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values?

In [15]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        counts[item] = counts.get(item, 0) + 1
    return counts

# Example usage:
my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
print(count_occurrences(my_list))

{'apple': 3, 'banana': 2, 'orange': 1}

Q14. Write a code to reverse a list in-place without using any built-in reverse functions?

In [16]:
def reverse_list_in_place(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]  # Swap elements
        left += 1
        right -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements?

In [17]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage:
my_list = [3, 5, 3, 2, 5, 1, 2]
print(remove_duplicates(my_list))

[3, 5, 2, 1]

Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not?

In [18]:
def is_sorted(lst):
    if len(lst) < 2:
        return True  # A list with 0 or 1 element is sorted by default

    ascending = all(lst[i] <= lst[i+1] for i in range(len(lst)-1))
    descending = all(lst[i] >= lst[i+1] for i in range(len(lst)-1))

    return ascending or descending

# Example usage:
print(is_sorted([1, 2, 3, 4]))
print(is_sorted([4, 3, 2, 1]))
print(is_sorted([1, 3, 2, 4]))

True
True
False

Q17. Write a code to merge two sorted lists into a single sorted list?

In [22]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = 0  # Pointer for list1
    j = 0  # Pointer for list2

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append remaining elements from list1 (if any)
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append remaining elements from list2 (if any)
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print(merge_sorted_lists(list1, list2))

list3 = [10, 20, 30]
list4 = [5, 15, 25, 35, 45]
print(merge_sorted_lists(list3, list4))

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 10, 15, 20, 25, 30, 35, 45]

Q18. Implement a code to find the intersection of two given lists?

In [23]:
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]
print(list_intersection(l1, l2))

[3, 4, 5]

Q19. Create a code to find the union of two lists without duplicates?

In [24]:
def list_union(list1, list2):
    return list(set(list1) | set(list2))

# Example usage:
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]
print(list_union(l1, l2))

[1, 2, 3, 4, 5, 6]

Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions?

In [25]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[2, 4, 1, 3, 5]

Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples?

In [26]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage:
t1 = (1, 2, 3, 4, 5)
t2 = (3, 4, 5, 6, 7)
print(common_elements(t1, t2))

(3, 4, 5)

Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets?

In [27]:
def get_set_from_input(prompt):
    input_str = input(prompt)
    return set(map(int, input_str.split(',')))

# Prompt the user
set1 = get_set_from_input("Enter the first set of integers (comma-separated): ")
set2 = get_set_from_input("Enter the second set of integers (comma-separated): ")

# Compute and display the intersection
intersection = set1 & set2
print("Intersection of the two sets:", intersection)

Enter the first set of integers (comma-separated): 1,2,3,4
Enter the second set of integers (comma-separated): 3,4,5,6
Intersection of the two sets: {3, 4}

Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples?

In [28]:
def concatenate_tuples(t1, t2):
    return t1 + t2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

Q24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set?

In [29]:
def get_string_set(prompt):
    input_str = input(prompt)
    # Strip whitespace around each element
    return set(s.strip() for s in input_str.split(',') if s.strip())

# Prompt the user for input
set1 = get_string_set("Enter the first set of strings (comma-separated): ")
set2 = get_string_set("Enter the second set of strings (comma-separated): ")

# Compute and display the difference
difference = set1 - set2
print("Elements in the first set but not in the second:", difference)

Enter the first set of strings (comma-separated): apple, banana, cherry
Enter the second set of strings (comma-separated): banana, mango
Elements in the first set but not in the second: {'apple', 'cherry'}

Q25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices?

In [30]:
def slice_tuple(t, start, end):
    return t[start:end]

# Example usage:
original_tuple = (10, 20, 30, 40, 50, 60)
start_index = 2
end_index = 5

result = slice_tuple(original_tuple, start_index, end_index)
print(result)

(30, 40, 50)

Q26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets?

In [31]:
def get_char_set(prompt):
    input_str = input(prompt)
    # Split by commas and remove surrounding whitespace from each character
    return set(char.strip() for char in input_str.split(',') if char.strip())

# Prompt the user
set1 = get_char_set("Enter the first set of characters (comma-separated): ")
set2 = get_char_set("Enter the second set of characters (comma-separated): ")

# Compute and display the union
union_set = set1 | set2
print("Union of the two sets:", union_set)

Enter the first set of characters (comma-separated): a, b, c
Enter the second set of characters (comma-separated): c, d, e
Union of the two sets: {'d', 'c', 'a', 'b', 'e'}

Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking?

In [32]:
def max_min_from_tuple(t):
    max_val = max(t)
    min_val = min(t)
    return max_val, min_val

# Example usage:
numbers = (10, 5, 8, 20, 3)
maximum, minimum = max_min_from_tuple(numbers)
print("Max:", maximum)
print("Min:", minimum)

Max: 20
Min: 3

Q28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets?

In [33]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate union, intersection, and difference
union = set1 | set2
intersection = set1 & set2
difference = set1 - set2  # Elements in set1 but not in set2

# Print the results
print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

Q29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple?

In [34]:
def count_occurrences(t, element):
    return t.count(element)

# Example usage:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2
print(count_occurrences(my_tuple, element_to_count))

3

Q30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets?

In [37]:
def get_string_set(prompt):
    input_str = input(prompt)
    return set(s.strip() for s in input_str.split(',') if s.strip())

# Get sets from user
set1 = get_string_set("Enter the first set of strings (comma-separated): ")
set2 = get_string_set("Enter the second set of strings (comma-separated): ")

# Compute symmetric difference
sym_diff = set1.symmetric_difference(set2)  # or set1 ^ set2

print("Symmetric difference of the two sets:", sym_diff)

Enter the first set of strings (comma-separated): apple, banana, cherry
Enter the second set of strings (comma-separated): banana, mango, peach
Symmetric difference of the two sets: {'mango', 'apple', 'cherry', 'peach'}

Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list?

In [38]:
def word_frequencies(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

# Example usage:
word_list = ["apple", "banana", "apple", "cherry", "banana", "apple"]
print(word_frequencies(word_list))

{'apple': 3, 'banana': 2, 'cherry': 1}

Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together?

In [39]:
def merge_dicts_add_values(dict1, dict2):
    merged = dict1.copy()  # Start with dict1’s items
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

# Example usage:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 5, 'c': 15, 'd': 40}

result = merge_dicts_add_values(d1, d2)
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 40}

Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None?

In [40]:
def get_nested_value(d, keys):
    current = d
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

keys_missing = ['a', 'x', 'c']
print(get_nested_value(nested_dict, keys_missing))

42
None

Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order?

In [41]:
def sort_dict_by_values(d, ascending=True):
    sorted_items = sorted(d.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

# Example usage:
my_dict = {'apple': 5, 'banana': 2, 'cherry': 7, 'date': 3}

# Sort ascending
sorted_asc = sort_dict_by_values(my_dict, ascending=True)
print("Ascending:", sorted_asc)

# Sort descending
sorted_desc = sort_dict_by_values(my_dict, ascending=False)
print("Descending:", sorted_desc)

Ascending: {'banana': 2, 'date': 3, 'apple': 5, 'cherry': 7}
Descending: {'cherry': 7, 'apple': 5, 'date': 3, 'banana': 2}

Q35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary?

In [42]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

# Example usage:
original = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted = invert_dict(original)
print(inverted)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}